{% extends "layout.html" %}

{% block body %}

<h4 style="text-align: right;"><a href="/home">home page</a></h4>

<div class="jumbotron text-center">
	<h1 style="background-color: violet;">About Us</h1>
	<h1 style="color: green; background-color: whitesmoke;">Welcome to TourX! </h1>
	<p class="lead">TourX provides you the list and details of the most famous and beautiful destinations in the world for vacations in different seasons throughout the year.
		TourX allows you to book flights and hotels of your own choice anywhere in the world at the best price.
	</p>
	<br>
	<p class="lead" style="color: blue;">Contact us: 1800-15481215 (toll-free)</p>
	<br>
	<h3 style="background-color: whitesmoke;">A family holiday in Nowhere</h3>
	<br>
	<p>Hotel Neptune offers a variety of standard guest rooms, panoramic sea view rooms, spacious family rooms and luxurious premium suites, which include a separate bedroom and bath. Balconies of these rooms offer breath-taking sea views. Along with premium accommodations, this Nowhere hotel also offers several dining options. In any one of our three restaurants, guests can enjoy culinary delights prepared by our master chefs. Guests may also relax and enjoy local and international beverages at our On the Rocks Cocktail Bar & Lounge.
	</p>
</div>

<div class="jumbotron text-center">
	<p class="lead" style="color: blue;">Developers Info: Amrendra Singh,
		Satish Karajwad,
		Vidya basanwad</p>
</div>

<footer class="bg-dark text-center text-white">

	<div class="container p-4 pb-0">

	  <section class="mb-4">
		<a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button">
		  <i class="fa fa-facebook-f"></i>
		</a>

		<a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!" role="button">
		  <i class="fa fa-twitter"></i>
		</a>

		<a class="btn btn-primary btn-floating m-1" style="background-color: #db4437;" href="#!" role="button">
		  <i class="fa fa-google"></i>
		</a>

		<a class="btn btn-primary btn-floating m-1" style="background-color: #bc2a8d;" href="#!" role="button">
		  <i class="fa fa-instagram"></i>
		</a>

		<a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button">
		  <i class="fa fa-linkedin"></i>
		</a>

		<a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#!" role="button">
		  <i class="fa fa-github"></i>
		</a>
	  </section>

	</div>

	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
	  © 2022 Copyright:
	  <a class="text-white" href="https://tourxbootstrap.com/">TourX.com</a>
	</div>

  </footer>

{% endblock %}