{% extends "layout.html" %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Explore Expeditions</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('destinations') }}">Destinations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('hotels') }}">Hotels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('flights') }}">Flights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('bookingdetails') }}">Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>

    </div>
</nav>

<!-- here it will display your booking details.< -->
<div class="container">
<section class="bookings" style="min-height: 100vh;">
    <form action="/bookings" method="post">
        <table>
            <thead><b> Package Details </b></thead>
            <tr>
                <th>Booking ID</th>
                <th>Booking Date</th>
                <th>Booking Time</th>
                <th>Package Name</th>
                <th>Place</th>
                <th>No Of Days</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
            </tr>
            {% endfor %}
        </table>

        <table>
            <thead><b> Hotel Details </b></thead>
            <tr>
                <th>Booking ID</th>
                <th>Hotel Category</th>
                <th>Room Type</th>
                <th>No of Guests</th>
                <th>Check In Date</th>
                <th>Check Out Date</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[9] }}</td>
                <td>{{ row[10] }}</td>
                <td>{{ row[11] }}</td>
                <td>{{ row[12] }}</td>
                <td>{{ row[13] }}</td>
            </tr>
            {% endfor %}
        </table>
                
        <table>
            <thead><b> Flight details </b></thead>
            <tr>
                <th>Booking ID</th>
                <th>Trip Type</th>
                <th>Class Type</th>
                <th>Departure Date</th>
                <th>Return Date</th>
                <th>No.of passengers</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Total Cost</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[14] }}</td>
                <td>{{ row[15] }}</td>
                <td>{{ row[16] }}</td>
                <td>{{ row[17] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[18] }}</td>
                <td>{{ row[19] }}</td>
                <td>{{ row[20] }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</section>
</div>

<footer class="bg-dark text-center text-white">

    <div class="container p-4 pb-0">

      <section class="mb-4">
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button">
          <i class="fa fa-facebook-f"></i>
        </a>

        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!" role="button">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="btn btn-primary btn-floating m-1" style="background-color: #db4437;" href="#!" role="button">
          <i class="fa fa-google"></i>
        </a>

        <a class="btn btn-primary btn-floating m-1" style="background-color: #bc2a8d;" href="#!" role="button">
          <i class="fa fa-instagram"></i>
        </a>

        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button">
          <i class="fa fa-linkedin"></i>
        </a>

        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#!" role="button">
          <i class="fa fa-github"></i>
        </a>
      </section>

    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://exploreexpeditions.com/">Explore Expeditions.com</a>
    </div>

  </footer>

<style>
    tr, th, td {
        border: 1px solid black;
    }

</style>

{% endblock %}