{% extends "layout.html" %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Explore Expeditions</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('destinations') }}">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('hotels') }}">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('flights') }}">Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('bookingdetails') }}">Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('profile') }}">
            <i class="fa fa-user"></i>
          </a>
        </li>
      </ul>
    
    </div>
</nav>

<div>
  <h3 style="text-align: center; color: blueviolet; "> <b> Our Best Destinations</b></h3>
</div>

    {% if msg %}
      <div><h4 style="text-align: center; color: white;">{{ msg }}</h4></div>
    {% endif %}

<section id="destinations" class="destinations">
   <div class="row">
   <div class="col-lg-3 col-md-6 col-xs-12 ">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/spain.jpg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="Spain"> </center> </form>
           <p style="text-align: center;"> Price Starting at:&#x20B9;220,000/person</p>
           <p style='color: brown; text-align: center;'>9Nights/10days</p>
           <p style="color:green; text-align: center;">In Demand</p> 
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-xs-12">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/india.jpg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="India"></center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;153,000/person</p>
           <p style='color: brown; text-align: center;'>9Nights/10days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-xs-12">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/switzerland.jpg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="Switzerland"></center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;117,500/person</p>
           <p style='color: brown; text-align: center;'>9Nights/10days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-xs-12">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/belgium.jpeg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="Belgium"></center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;213,000/person</p>
           <p style='color: brown; text-align: center;'>7Nights/8days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-lg-3 col-md-6 col-xs-12 ">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/italy.jpg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="Italy"></center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;118,000/person</p>
           <p style='color: brown; text-align: center;'>7Nights/8days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-xs-12">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/australia.avif') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="Australia"> </center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;210,000/person</p>
           <p style='color: brown; text-align: center;'>7Nights/8days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-xs-12 ">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/ireland.jpg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="Ireland"></center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;119,000/person</p>
           <p style='color: brown; text-align: center;'>7Nights/8days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-xs-12 ">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/new-zealand.avif') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="New Zealand"></center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;217,000/person</p>
           <p style='color: brown; text-align: center;'>7Nights/8days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-lg-3 col-md-6 col-xs-12">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/canada.jpg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="Canada"></center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;187,100/person</p>
           <p style='color: brown; text-align: center;'>4Nights/5days</p>
           <p style="color:green; text-align: center;">In Demand</p>   
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-xs-12">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/venezuela.jpg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="Venezuela"></center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;115,000/person</p>
           <p style='color: brown; text-align: center;'>4Nights/5days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-xs-12">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/arizona.jpg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="Arizona"></center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;215,400/person</p>
           <p style='color: brown; text-align: center;'>4Nights/5days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-xs-12">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/norway.jpg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="Norway"></center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;210,500/person</p>
           <p style='color: brown; text-align: center;'>9Nights/10days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-lg-3 col-md-6 col-xs-12">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/myanmar.jpg') }}" alt="" style="width:100%">
         <div class="caption">
       <form  action="/destinations" method="post">
        <center> <input type="submit" name="selected_package" value="Myanmar"></center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;211,000/person</p>
           <p style='color: brown; text-align: center;'>7Nights/8days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-xs-12">
     <div class="thumbnail">
       <a href="/">
         <img src="{{ url_for('static', filename='destinations/namibia.jpeg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="Namibia"></center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;117,300/person</p>
           <p style='color: brown; text-align: center;'>7Nights/8days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-xs-12">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/french-polynesia.jpg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="French Polynesia"></center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;215,750/person</p>
           <p style='color: brown; text-align: center;'>4Nights/5days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-xs-12 ">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/iceland.jpg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="Iceland"></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;218,200/person</p>
           <p style='color: brown; text-align: center;'>9Nights/10days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-lg-3 col-md-6 col-xs-12">
     <div class="thumbnail">
       <a href="/destinations">
         <img src="{{ url_for('static', filename='destinations/greece.jpg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="Greece"></center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;214,800/person</p>
           <p style='color: brown; text-align: center;'>8Nights/9days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-xs-12">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/china.jpg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="China"></center></form>
           <p style="text-align: center;"> Price Starting at:&#x20B9;115,900/person</p>
           <p style='color: brown; text-align: center;'>5Nights/6days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-xs-12 ">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/germany.jpg') }}" alt="" style="width:100%">
         <div class="caption">
         <form  action="/destinations" method="post">
          <center> <input type="submit" name="selected_package" value="Germany"></center></form>
           <p style="text-align: center;">Price Starting at:&#x20B9;116,800/person</p>
           <p style='color: brown; text-align: center;'>4Nights/5days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-xs-12">
     <div class="thumbnail">
       <a href="">
         <img src="{{ url_for('static', filename='destinations/chile.jpg') }}" alt="" style="width:100%">
         <div class="caption">
           <form  action="/destinations" method="post">
           <center> <input type="submit" name="selected_package" value="Chile"></form> </center>
           <p style="text-align: center;">Price Starting at:&#x20B9;119,000/person</p>
           <p style='color: brown; text-align: center;'>7Nights/8days</p>
           <p style="color:green; text-align: center;">In Demand</p>
         </div>
       </a>
     </div>
   </div>

 </div>
 </section>

 <footer class="bg-dark text-center text-white">

  <div class="container p-4 pb-0">

    <section class="mb-4">
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button">
        <i class="fa fa-facebook-f"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!" role="button">
        <i class="fa fa-twitter"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #db4437;" href="#!" role="button">
        <i class="fa fa-google"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #bc2a8d;" href="#!" role="button">
        <i class="fa fa-instagram"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button">
        <i class="fa fa-linkedin"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#!" role="button">
        <i class="fa fa-github"></i>
      </a>
    </section>

  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://exploreexpeditions.com/">Explore Expeditions.com</a>
  </div>

</footer>

{% endblock %}