{% extends "layout.html" %}

{% block body %}

<div style="
height:100vh; background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
url('{{ url_for('static', filename='home/tropical_beach.png') }}');
background-size: cover; background-position: center; background-repeat: no-repeat; ">
  <div class="container-sm">
      <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
          <div class="col-sm-6 p-5">
            <h1 style="text-align: center; color: white; text-shadow: 2px 2px 10px rgba(0,0,0,0.6);">Explore Expeditions</h1>
            {% if msg %}
              <div><h4 style="text-align: center; color:green;">{{ msg }}</h4></div>
            {% endif %}

            {% if error %}
              <div><h4 style="text-align: center; color: red;">{{ error }}</h4></div>
            {% endif %}

            <form class="card p-5" action="/login" method="post" style="background: rgba(255,255,255,0.15); backdrop-filter: blur(12px); border: 1px solid rgba(255,255,255,0.2); border-radius: 20px; color: white; ">
              <h2 style="text-align: center; color: whitesmoke;">Sign In</h2>
              <div class="mb-3">
                Username <input style="background: rgba(255,255,255,0.85);" type="text" class="form-control" id="username" name="username" required>
              </div>
              <div class="mb-3">
                Password <input style="background: rgba(255,255,255,0.85);" type="password" class="form-control" id="userpassword" name="password" required>
              </div>
              <div class="d-grid gap-2 d-md-block d-md-flex justify-content-md-center">
                <input class="btn btn-primary" type="submit" value="Login">
              </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('register') }}">New around here? Sign up</a>
          </form>
      </div>
  </div>
</div>

<footer class="bg-dark text-center text-white" style="margin-top:0;">

  <div class="container p-4 pb-0">

    <section class="mb-4">
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button">
        <i class="fa fa-facebook-f"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!" role="button">
        <i class="fa fa-twitter"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #db4437;" href="#!" role="button">
        <i class="fa fa-google"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #bc2a8d;" href="#!" role="button">
        <i class="fa fa-instagram"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button">
        <i class="fa fa-linkedin"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#!" role="button">
        <i class="fa fa-github"></i>
      </a>
    </section>

  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://exploreexpeditions.com/">Explore Expeditions.com</a>
  </div>

</footer>

{% endblock %}