{% extends "layout.html" %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">TourX</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('destinations') }}">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('hotels') }}">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('flights') }}">Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('bookingdetails') }}">Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
    
    </div>
  </nav>

<div style="height: 70vh; background-color: gainsboro;">
  <div class="container-sm">
    <h1 style="color: blue; background-color: whitesmoke;">Your Profile</h1>
      <div class="row justify-content-center">
          <!-- <div class="col-sm-9 p-5"> -->
            <p><h3>Welcome, {{ session.username }}</h3></p>

            <p><h3>Name: {{ session.name }}</h3></p>
            <p><h3>Email: {{ session.email }}</h3></p>

            <!-- <h4><a href="/logout" >Log Out</a></h4> -->
          <!-- </div> -->
      </div>
  </div>
</div>

<footer class="bg-dark text-center text-white">

  <div class="container p-4 pb-0">

    <section class="mb-4">
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button">
        <i class="fa fa-facebook-f"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!" role="button">
        <i class="fa fa-twitter"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #db4437;" href="#!" role="button">
        <i class="fa fa-google"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #bc2a8d;" href="#!" role="button">
        <i class="fa fa-instagram"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button">
        <i class="fa fa-linkedin"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#!" role="button">
        <i class="fa fa-github"></i>
      </a>
    </section>

  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://tourxbootstrap.com/">TourX.com</a>
  </div>

</footer>

{% endblock %}